<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>管理系统</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  {:widget_st('layui','css')}
  {:widget_st('admin','css')}
  {:widget_st('jq','js')}
  {:widget_st('layui','js')}  
  {:widget_st('common','js')} 
</head>
{:do_action('admin_head')}
<style>
  .layui-textarea{
    width: 100%;
    height: 500px;
  }
</style>
<body>
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <?php $form_widget = new \app\common\widget\FormPro();  ?>
      <form method="post" class="info_tj" >
        <input type="hidden" name="mid" value="{$mid}">
        <div class="layui-col-sm12">
          <div class="layui-row layui-col-space15">
              <div class="layui-col-sm12">
                <div class="layui-card">
                  {$form_widget->form_textarea(['title'=>'json数据','name'=>'content','data'=>'','theme'=>1])|raw}

                <br>
                </div>
              </div>
              
              
                
                {include file="public/widget_submit"}

           
             
          </div>
        </div>
      </form>
        
      </div>
    </div>
  </div>
  


  <script>

 layui.use(['form','upload'], function(){
    var $ = layui.$
    ,admin = layui.admin
    ,element = layui.element
    ,form = layui.form
    ,upload = layui.upload;


      $('.tijiao').on("click",function(){
          var index = layer.load(2);
          var data = $(".info_tj input,.info_tj select,.info_tj textarea,.info_tj radio").serialize();      
          $.ajax({
              type:'post',
              data:data,
              dataType:'json',
              success:function(res){
                if(res.result==1){
                  layer.msg(res.msg, {icon: 1});
                  setTimeout(function() {
                        window.parent.location.reload();
                  }, 2000);
                }else{
                  layer.close(index);
                  layer.msg(res.msg, {icon: 2});
                }   
              }
          })
      })


  });
  </script>
</body>
</html>

