<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>管理系统</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  {:widget_st('layui','css')}
  {:widget_st('admin','css')}
  {:widget_st('jq','js')}
  {:widget_st('laydate','js')}
  {:widget_st('webuploader')}
  {:widget_st('layui','js')}
  {:widget_st('common','js')}
  {:widget_st('ueditor')}            
</head>
<body>
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <?php $form_widget = new \app\common\widget\FormPro();  ?>
      <form method="post" class="info_tj" >
        <input type="hidden" name="cid" value="{$res.cid}">
        <input type="hidden" name="t" value="{$t}">
        <div class="layui-col-sm12">
          <div class="layui-row layui-col-space15">
            <?php if($form_parm_arr){ ?>
              <div class="layui-col-sm<?php echo isset($form_parm_arr['right'])?'9':'12';?>">
                <div class="layui-card">
                  <div class="layui-card-header">栏目参数</div>
                  <br/>
                  <?php foreach($form_parm_arr['left'] as $k=>$vo){ ?>
                      <?php if($vo['model']=='form_input'){ ?>
                        {$form_widget->form_input(['title'=>$vo['comment'],'name'=>$vo['name'],'data'=>$res[$vo['name']],'theme'=>$vo['theme']])|raw}
                      <?php }elseif($vo['model']=='form_textarea'){ ?>
                        {$form_widget->form_textarea(['title'=>$vo['comment'],'name'=>$vo['name'],'data'=>$res[$vo['name']],'theme'=>$vo['theme']])|raw}
                      <?php }elseif($vo['model']=='upload_pic'){ ?>
                        {$form_widget->upload_pic(['title'=>$vo['comment'],'name'=>$vo['name'],'data'=>$res[$vo['name']],'theme'=>$vo['theme']])|raw}
                      <?php }elseif($vo['model']=='form_time'){ ?>
                        {$form_widget->form_time(['title'=>$vo['comment'],'name'=>$vo['name'],'data'=>date("Y-m-d H:i:s",$res[$vo['name']]),'theme'=>$vo['theme'],'time_type'=>'datetime'])|raw}
                      <?php }elseif($vo['model']=='form_select'){ ?>
                        <?php 
                          if($vo['name']=='pid'){ 
                            $id_t = 'cid';
                            $_plist = $plist;
                            $theme_select = $vo['theme'];
                          }elseif($vo['name']=='mid'){
                            $id_t = 'id';
                            $_plist = $mlist;
                            $theme_select = 3;
                          }
                          $name_t = 'name';
                          ?>
                          {$form_widget->form_select(['title'=>$vo['name'],'name'=>$vo['name'],'data'=>$res[$vo['name']],'id_t'=>$id_t, 'name_t'=>$name_t,'list_arr'=>$_plist,'theme'=>$theme_select])|raw}
                      <?php }elseif($vo['model']=='form_ueditor'){ ?>
                        {$form_widget->form_ueditor(['title'=>$vo['comment'],'name'=>$vo['name'],'data'=>$res[$vo['name']],'theme'=>$vo['theme']])|raw}
                      <?php }elseif($vo['model']==''){ ?>
                      <?php }elseif($vo['model']==''){ ?>
                      <?php } ?>
                  <?php } ?>
                <br>
                </div>
              </div>
              <div class="layui-col-sm<?php echo isset($form_parm_arr['right'])?'3':'12';?>">
                <div class="layui-card">
                  <br/>
                  <?php foreach($form_parm_arr['right'] as $k=>$vo){ ?>
                    <?php if($vo['model']=='form_input'){ ?>
                      {$form_widget->form_input(['title'=>$vo['comment'],'name'=>$vo['name'],'data'=>$res[$vo['name']],'theme'=>$vo['theme']])|raw}
                    <?php }elseif($vo['model']=='form_textarea'){ ?>
                      {$form_widget->form_textarea(['title'=>$vo['comment'],'name'=>$vo['name'],'data'=>$res[$vo['name']],'theme'=>$vo['theme']])|raw}
                    <?php }elseif($vo['model']=='upload_pic'){ ?>
                      {$form_widget->upload_pic(['title'=>$vo['comment'],'name'=>$vo['name'],'data'=>$res[$vo['name']],'theme'=>$vo['theme']])|raw}
                    <?php }elseif($vo['model']=='form_time'){ ?>
                      {$form_widget->form_time(['title'=>$vo['comment'],'name'=>$vo['name'],'data'=>date("Y-m-d H:i:s",$res[$vo['name']]),'theme'=>$vo['theme'],'time_type'=>'datetime'])|raw}
                    <?php }elseif($vo['model']=='form_select'){ ?>
                      <?php 
                        if($vo['name']=='pid'){ 
                          $id_t = 'cid';
                          $_plist = $plist;
                          $theme_select = $vo['theme'];
                        }elseif($vo['name']=='mid'){
                          $id_t = 'id';
                          $_plist = $mlist;
                          $theme_select = 3;
                        }
                        $name_t = 'name';
                        ?>
                        {$form_widget->form_select(['title'=>$vo['name'],'name'=>$vo['name'],'data'=>$res[$vo['name']],'id_t'=>$id_t, 'name_t'=>$name_t,'list_arr'=>$_plist,'theme'=>$theme_select])|raw}
                    <?php }elseif($vo['model']=='form_ueditor'){ ?>
                      {$form_widget->form_ueditor(['title'=>$vo['comment'],'name'=>$vo['name'],'data'=>$res[$vo['name']],'theme'=>$vo['theme']])|raw}
                    <?php }elseif($vo['model']==''){ ?>
                    <?php }elseif($vo['model']==''){ ?>
                    <?php } ?>
                  <?php } ?>
                </div>
              
                
                {include file="public/widget_submit"}

              </div>
            <?php }else{ ?>
              <!-- 默认表单 -->
              <div class="layui-col-sm9">
                <div class="layui-card">
                  <div class="layui-card-header">栏目参数</div>
                  <br/>
                  {$form_widget->form_input(['title'=>'栏目名称','name'=>'name','data'=>$res['name'],'theme'=>2])|raw}
                  {$form_widget->form_input(['title'=>'英文名称','name'=>'ename','data'=>$res['ename'],'theme'=>2])|raw}
                  {$form_widget->form_input(['title'=>'外部链接','name'=>'url','data'=>$res['url'],'theme'=>2])|raw}
                  {$form_widget->form_input(['title'=>'栏目模板名','name'=>'tpl_category','data'=>$res['tpl_category'],'theme'=>2])|raw}
                  {$form_widget->form_input(['title'=>'内容模板名','name'=>'tpl_post','data'=>$res['tpl_post'],'theme'=>2])|raw}
                  {$form_widget->form_input(['title'=>'每页显示数','name'=>'page','data'=>$res['page'],'theme'=>2])|raw}
                  <!-- {$form_widget->form_input(['title'=>'链接目标','name'=>'target','data'=>$res['target'],'theme'=>2])|raw} -->
                  {$form_widget->form_textarea(['title'=>'栏目描述','name'=>'summary','data'=>$res['summary'],'theme'=>2])|raw}
                <br>
                </div>
                
                <div class="layui-card">
                  <br>
                  <div class="layui-card-body">
                  
                  {$form_widget->form_ueditor(['title'=>'内容详情','name'=>'content','data'=>$res['content'],'theme'=>1])|raw}
                  </div>
                </div>
              </div>
              <div class="layui-col-sm3">
                <div class="layui-card">
                  {$form_widget->upload_pic(['title'=>'封面图','name'=>'pic','data'=>$res['pic'],'theme'=>1])|raw}
                  {$form_widget->form_time(['title'=>'时间','name'=>'ctime','data'=>date("Y-m-d H:i:s",$res['ctime']),'theme'=>1,'time_type'=>'datetime'])|raw}
                  {$form_widget->form_input(['title'=>'排序','name'=>'sort','data'=>$res['sort'],'theme'=>1])|raw}
                </div>
                <div class="layui-card">
                  {$form_widget->form_select(['title'=>'父类','name'=>'pid','data'=>$res['pid'],'id_t'=>'cid', 'name_t'=>'name','list_arr'=>$plist,'theme'=>1])|raw}
                  {$form_widget->form_select(['title'=>'栏目模型','name'=>'mid','data'=>$res['mid'],'id_t'=>'id', 'name_t'=>'name','list_arr'=>$mlist,'theme'=>3])|raw}
                </div>
                
                {include file="public/widget_submit"}

              </div>
            <?php } ?>
          </div>
        </div>
      </form>
        
      </div>
    </div>
  </div>
  


  <script>

 layui.use(['form','upload'], function(){
    var $ = layui.$
    ,admin = layui.admin
    ,element = layui.element
    ,form = layui.form
    ,upload = layui.upload;


      $('.tijiao').on("click",function(){
          var index = layer.load(2);
          var data = $(".info_tj input,.info_tj select,.info_tj textarea,.info_tj radio").serialize();      
          $.ajax({
              type:'post',
              url:"{:url('category/category_edit')}",
              data:data,
              dataType:'json',
              success:function(res){
                if(res.result==1){
                  layer.msg(res.msg.msg, {icon: 1});
                  setTimeout(function() {
                      if(res.msg.code==1){
                        window.location.reload();
                      }else{
                        window.parent.location.reload();
                      }
                  }, 2000);
                }else{
                  layer.close(index);
                  layer.msg(res.msg.msg, {icon: 2});
                }   
              }
          })
      })


  });
  </script>
</body>
</html>

