<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>管理系统</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  {:widget_st('layui','css')}
  {:widget_st('admin','css')}
  {:widget_st('bootstrap')}
  {:widget_st('jq','js')}
  
    
</head>
{:do_action('admin_head')}
<body>

  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-card-header layuiadmin-card-header-auto">
        <button class="layui-btn layui-btn-sm" onclick="zfAdminShow('添加','{:url("admin/category/tag_add")}',800)">添加</button>
      </div>
      <table class="layui-table">
        <colgroup>
          <col width="30">
          <col width="60">
          <col width="60">
          <col width="60">
          <col width="60">
          <col width="30">
          <col>
        </colgroup>
        <thead>
          <tr>
            <th>ID</th>
            <th>名称</th>
            <th>添加时间</th>
            <th>排序</th>
            <th>状态</th>
            <th>操作</th>
          </tr> 
        </thead>
        <tbody>
          <?php foreach($group_list as $k=>$vo){ ?>
            <tr>
              <td>{$vo['id']}</td>
              <td>
                <?php if(ZFC("webconfig.isshow_form_parm")==1){ ?>
                <a  onclick='zfAdminShow("编辑参数","{:url('admin/setting/category_form_parm',['id' => $vo['id'],'tb_name'=>'zf_tag'] )}")' >
                <?php }else{ ?>
                <a href="#">
                <?php } ?>
                  {$vo['name']} 
                </a>
              </td>
              <td><?php echo date("Y-m-d H:i:s",$vo['ctime']); ?></td>
              <td>
                <input type="text" name="sort" autocomplete="off" class="layui-input edit_sort"  value="{$vo['sort']}" item-id="{$vo['id']}" item-dbname="tag" >
              </td>
              <td>
                <div class=" layui-form" lay-filter="component-form-element">        
                   <input type="checkbox" name="status" <?php echo $vo['status']==1?'checked':''; ?> lay-skin="switch" lay-text="开启|关闭" lay-filter="status_change" item="{$vo['id']}">
                </div>
              </td>
              <td> 
                <a class="layui-btn layui-btn-sm layui-btn-danger" onclick="btn_del('{:url('common/del_post')}',{$vo['id']},'tag')" href="#">删除</a> 
                <button class="layui-btn layui-btn-sm" onclick='zfAdminShow("编辑","{:url('admin/category/tag_edit',['id' => $vo['id']] )}",800)'>编辑</button>
              </td>
            </tr>
          <?php } ?>
        </tbody>
      </table>
      {$page|raw}
    </div>
  </div>
  
  {:widget_st('layui','js')}
  {:widget_st('common','js')} 
  <script>
 layui.use(['table'], function(){
      var $ = layui.$
      ,form = layui.form
      ,table = layui.table;

      form.on('switch(status_change)', function(data){
          var id = $(this).attr("item")
          var dbname = 'tag'
          var status = this.checked ? '1' : '0'
          console.log(id)
          $.get("{:url('admin/common/is_switch')}",{id:id,dbname:dbname,status:status},function(res){
              if(res.result==1){
              layer.msg(res.msg, {icon: 1});
            }else{
              layer.msg(res.msg, {icon: 2});
            }
          },"json");
      });

  });
  </script>
</body>
</html>
{:do_action('admin_js')}
