<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>管理系统</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  {:widget_st('layui','css')}
  {:widget_st('layui','js')}  
  {:widget_st('common','js')} 
  {:widget_st('ueditor')}  

</head>
<body>
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <form class="info_tj" >
        <?php $form_widget = new \app\common\widget\FormPro();  ?>
        <div class="layui-tab layui-tab-brief">
          <ul class="layui-tab-title">
            <li class="layui-this">基本设置</li>
            <li>SEO</li>
          </ul>
          <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
              <div class="layui-col-sm12">
                <input type="hidden" name="id" value="{$res['id']|default=''}">
                <?php if(isset($res['id'])){ ?>
                  {$form_widget->form_input(['title'=>'名称','name'=>'name','data'=>$res['name'],'theme'=>1])|raw}
                  {$form_widget->form_input(['title'=>'排序','name'=>'sort','data'=>$res['sort'],'theme'=>1])|raw}
                  {$form_widget->form_ueditor(['title'=>'详情','name'=>'content','data'=>$res['content'],'theme'=>2])|raw}
                <?php }else{ ?>
                  {$form_widget->form_input(['title'=>'名称','name'=>'name','data'=>'','theme'=>1])|raw}
                  {$form_widget->form_input(['title'=>'排序','name'=>'sort','data'=>'','theme'=>1])|raw}
                  {$form_widget->form_ueditor(['title'=>'详情','name'=>'content','data'=>'','theme'=>2])|raw}
                <?php }?>
                <div class="layui-col-sm3">
                  {include file="public/widget_submit"}
                </div>
              </div>
            </div>
            <div class="layui-tab-item">
              <div class="layui-col-sm12">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-sm12">
                      <div class="layui-card">
                        <div style="padding-top: 20px;"></div>
                        <?php if(!isset($res['id'])){ ?>
                        {$form_widget->form_textarea(['title'=>'SEO(标题)','name'=>'meta[seo_t]','data'=>'','theme'=>1])|raw}
                        {$form_widget->form_textarea(['title'=>'SEO(描述)','name'=>'meta[seo_d]','data'=>'','theme'=>1])|raw}
                        {$form_widget->form_textarea(['title'=>'SEO(关键词)','name'=>'meta[seo_k]','data'=>'','theme'=>1])|raw}
                      <?php }else{ ?>
                        {$form_widget->form_textarea(['title'=>'SEO(标题)','name'=>'meta[seo_t]','data'=>isset_arr_key($res['meta'],'seo_t',''),'theme'=>1])|raw}
                        {$form_widget->form_textarea(['title'=>'SEO(描述)','name'=>'meta[seo_d]','data'=>isset_arr_key($res['meta'],'seo_d',''),'theme'=>1])|raw}
                        {$form_widget->form_textarea(['title'=>'SEO(关键词)','name'=>'meta[seo_k]','data'=>isset_arr_key($res['meta'],'seo_k',''),'theme'=>1])|raw}
      
                       <?php } ?> 
                     
                      
                    </div>
                  </div>
                    <div class="layui-col-sm3">
                      {include file="public/widget_submit"}
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>


</body>
</html>

<script>
  $(".tijiao").on("click",function(){
        var index = layer.load(2);
        <?php if(!isset($res['id'])){ ?>
          var url = '/admin/category/tag_add'
        <?php }else{ ?>
          var url = '/admin/category/tag_edit'
        <?php } ?>
        var data = $(".info_tj input,.info_tj textarea,.info_tj select").serialize();      
        $.ajax({
            type:'post',
            url:url,
            data:data,
            dataType:'json',
            success:function(res){
              layer.close(index);
              if(res.result==1){
                layer.msg(res.msg, {icon: 1});
                setTimeout(function() {
                  window.parent.location.reload();
                }, 2000);
              }else{
                layer.msg(res.msg, {icon: 2});
                
              }
              
            }
        })
      });

</script>