composer.lock
/runtime/*
!/runtime/.gitignore
/public/install.lock
/笔记
/addons/*
!/addons/.gitignore
/theme/*
!/theme/index/*
!/theme/install/*
/application/common/controller/*
!/application/common/controller/Fileupload.php
!/application/common/controller/Updatesql.php
!/application/common/controller/Upload.php
/extend/zf/yun_bak/*


#配置文件不需要更新
/config/database.php
/config/version.php
/config/web.php
/config/zf_auth.php

/upgrade_clear.php
/upgrade_restore.php
/upgrade_box/*

/.idea