<?php
$form_parm = $form_parm_arr['form_parm'];
?>
<?php if(isset($form_parm['ini']['zf_two_column']) && $form_parm['ini']['zf_two_column']==1 ){ ?>
  <?php if(isset($form_parm['left']) && $form_parm['left']){ ?>
    <div class="layui-col-sm<?php echo isset($form_parm['right'])?'9':'12';?>">
      <div class="layui-card">
        <?php  foreach($form_parm['left'] as $k=>$vo){ ?>
            {include file="public/form_parm_show_item"}
        <?php } ?>
      <br>
      </div>
    </div>
  <?php } ?>
  <?php if(isset($form_parm['right']) &&  $form_parm['right']){ ?>
    <div class="layui-col-sm<?php echo isset($form_parm['right'])?'3':'12';?>">
      <div class="layui-card">
        <?php  foreach($form_parm['right'] as $k=>$vo){ ?>
          {include file="public/form_parm_show_item"}
        <?php } ?>
      </div>
    </div>
  <?php } ?>
<?php } ?>
<?php if(isset($form_parm['ini']['zf_two_column']) && $form_parm['ini']['zf_two_column']==0 ){ ?>
  <div class="layui-col-sm12">
    <div class="layui-card">
      <?php  foreach($form_parm['left'] as $k=>$vo){ ?>
        {include file="public/form_parm_show_item"}
      <?php } ?>
      <?php  foreach($form_parm['right'] as $k=>$vo){ ?>
        {include file="public/form_parm_show_item"}
      <?php } ?>
    </div>
  </div>
<?php } ?>