<!-- 右键 -->
<link rel="stylesheet" href="http://www.jq22.com/demo/jqueryRightMenu201806032254/assets/style.css">
<link rel="stylesheet" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
<!--<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>-->
{:widget_st('jq','js')}
<script src="http://www.jq22.com/demo/jqueryRightMenu201806032254/assets/script.js"></script>

<?php 
$right_menu = [
    'edit' => [
        'name' => '编辑',
        'icon' => 'edit'
    ],
    'del' => [
        'name' => '删除',
        'icon' => 'trash-o'
    ],
    'add' => [
        'name' => '添加',
        'icon' => 'plus',
        'items' => [
            'new-text' => [
                'name' => '添加文件',
                'icon' => 'file-text'
            ],
            'new-zip' => [
                'name' => '添加ZIP',
                'icon' => 'file-zip-o'
            ]
        ]
    ],
    'refresh' => [
        'name' => '刷新',
        'icon' => 'refresh'
    ],
    'code' => [
        'name' => '查看源代码',
    ],
    'zhichi' => [
        'name' => '支持',
        'icon' => 'zhichi',
        'items' => [
            'zhichi-qq' => [
                'name' => 'QQ',
                'icon' => 'file-text'
            ],
            'zhichi-email' => [
                'name' => 'Email',
                'icon' => 'file-zip-o'
            ]
        ]
    ]
];
?>
<script type="text/javascript"> 
    $(document).ready(function() {
        var rcm = window.RMenu;
        var url = window.location.href;
        rcm.init({
            area: 'body',
            items: <?php echo json_encode($right_menu); ?>,
            callback: function(res) {
                if (res.data == 'refresh') {
                    window.location.reload();
                }else if (res.data == 'code') {
                   var _url = 'view-source:'+url;
                    // 模拟鼠标右键打开查看源代码
                    var newWindow = window.open(_url, '_blank');
                    newWindow.focus(); 
                } 
            }
        })
    });

    
    
    
</script>