<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>管理系统</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  {:widget_st('layui','css')}
  {:widget_st('laydate','js')}
  {:widget_st('layui','js')}
  {:widget_st('common','js')} 
</head>
{:do_action('admin_head')}
<body>
  <div class="layui-fluid">
      <div class="layui-row layui-col-space15">
        <div class="layui-col-md8">
          <div class="layui-card">
            <div class="layui-card-body">
                <?php $form_widget = new \app\common\widget\FormPro();  ?>
                <form class="layui-form info_tj" onclick="return false;" >
                <?php if(isset($res['id'])){ ?>
                  <input type="hidden" name="id" value="{$res.id}">
                  {$form_widget->form_input(['title'=>'名称','name'=>'name','data'=>$res['name'],'theme'=>2])|raw}
                  {$form_widget->form_select(['title'=>'类型','name'=>'type','data'=>$res['type'],'list_arr'=>[['id'=>'url','name'=>'访问地址'],['id'=>'class','name'=>'Class类']],'theme'=>4])|raw}
                  {$form_widget->form_time(['title'=>'开始时间','name'=>'stime','data'=>date("Y-m-d H:i:s",$res['stime']),'theme'=>2])|raw}
                  {$form_widget->form_time(['title'=>'结束时间','name'=>'etime','data'=>date("Y-m-d H:i:s",$res['etime']),'theme'=>2])|raw}
                  {$form_widget->form_input(['title'=>'间隔(秒)','name'=>'interval_time','data'=>$res['interval_time'],'theme'=>2])|raw}
                  {$form_widget->form_checkbox(['title'=>'小时(周期)','name'=>'hours','data'=>$res['hours'],'list_arr'=>[['id'=>'0','name'=>'0时'],['id'=>'1','name'=>'1时'],['id'=>'2','name'=>'2时'],['id'=>'3','name'=>'3时'],['id'=>'4','name'=>'4时'],['id'=>'5','name'=>'5时'],['id'=>'6','name'=>'6时'],['id'=>'7','name'=>'7时'],['id'=>'8','name'=>'8时'],['id'=>'9','name'=>'9时'],['id'=>'10','name'=>'10时'],['id'=>'11','name'=>'11时'],['id'=>'12','name'=>'12时'],['id'=>'13','name'=>'13时'],['id'=>'14','name'=>'14时'],['id'=>'15','name'=>'15时'],['id'=>'16','name'=>'16时'],['id'=>'17','name'=>'17时'],['id'=>'18','name'=>'18时'],['id'=>'19','name'=>'19时'],['id'=>'20','name'=>'20时'],['id'=>'21','name'=>'21时'],['id'=>'22','name'=>'22时'],['id'=>'23','name'=>'23时']],'theme'=>2])|raw}


                  {$form_widget->form_textarea(['title'=>'内容','name'=>'data','data'=>$res['data'],'theme'=>2])|raw}
                  {$form_widget->form_input(['title'=>'排序(倒序)','name'=>'sort','data'=>$res['sort'],'theme'=>2])|raw}
                  {$form_widget->form_radio(['title'=>'状态','name'=>'status','data'=>$res['status'],'parm_data'=>['0'=>'关闭','1'=>'开启'],'theme'=>2])|raw}

                  <div class="layui-form-item">
                    <div class="layui-input-block">
                      <button class="layui-btn layui-btn-sm" onclick="tijiao_data('/admin/zfyun/task_edit')"   lay-filter="component-form-element">提交</button>
                    </div>
                  </div>

                <?php }else{ ?>
                  
                  {$form_widget->form_input(['title'=>'名称','name'=>'name','data'=>'','theme'=>2])|raw}
                  {$form_widget->form_select(['title'=>'类型','name'=>'type','data'=>'','list_arr'=>[['id'=>'url','name'=>'访问地址'],['id'=>'class','name'=>'Class类']],'theme'=>4])|raw}
                  {$form_widget->form_time(['title'=>'开始时间','name'=>'stime','data'=>'','theme'=>2])|raw}
                  {$form_widget->form_time(['title'=>'结束时间','name'=>'etime','data'=>'','theme'=>2])|raw}
                  {$form_widget->form_input(['title'=>'间隔(秒)','name'=>'interval_time','data'=>60,'theme'=>2])|raw}
                  {$form_widget->form_checkbox(['title'=>'小时(周期)','name'=>'hours','data'=>'','list_arr'=>[['id'=>'0','name'=>'0时'],['id'=>'1','name'=>'1时'],['id'=>'2','name'=>'2时'],['id'=>'3','name'=>'3时'],['id'=>'4','name'=>'4时'],['id'=>'5','name'=>'5时'],['id'=>'6','name'=>'6时'],['id'=>'7','name'=>'7时'],['id'=>'8','name'=>'8时'],['id'=>'9','name'=>'9时'],['id'=>'10','name'=>'10时'],['id'=>'11','name'=>'11时'],['id'=>'12','name'=>'12时'],['id'=>'13','name'=>'13时'],['id'=>'14','name'=>'14时'],['id'=>'15','name'=>'15时'],['id'=>'16','name'=>'16时'],['id'=>'17','name'=>'17时'],['id'=>'18','name'=>'18时'],['id'=>'19','name'=>'19时'],['id'=>'20','name'=>'20时'],['id'=>'21','name'=>'21时'],['id'=>'22','name'=>'22时'],['id'=>'23','name'=>'23时']],'theme'=>2])|raw}

                  {$form_widget->form_textarea(['title'=>'内容','name'=>'data','data'=>'','theme'=>2])|raw}
                  {$form_widget->form_input(['title'=>'排序(倒序)','name'=>'sort','data'=>0,'theme'=>2])|raw}
                  {$form_widget->form_radio(['title'=>'状态','name'=>'status','data'=>1,'parm_data'=>['0'=>'关闭','1'=>'开启'],'theme'=>2])|raw}

                  <div class="layui-form-item">
                    <div class="layui-input-block">
                      <button class="layui-btn layui-btn-sm" onclick="tijiao_data('/admin/zfyun/task_add')"  lay-submit="" lay-filter="component-form-element">提交</button>
                    </div>
                  </div>

                <?php }?>
                
              </form>
            </div>
          </div>
        
          
          
        </div>
        
      </div>
    </div>

  <script>
 layui.use(['form', 'upload'], function(){
    var $ = layui.$
    ,form = layui.form
    ,upload = layui.upload ;

    
    
    
  })
  </script>
</body>
</html>