<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>管理系统</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  {:widget_st('layui','css')}
  {:widget_st('admin','css')}
  {:widget_st('jq','js')}
  {:widget_st('laydate','js')}    
  {:widget_st('layui','js')}  
  {:widget_st('common','js')} 
</head>
<style>
  .line-through {
    text-decoration: line-through;
    color: red;
  }
  .layui-col-sm2{
    text-align: center;
  }
</style>
<body>
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <?php $form_widget = new \app\common\widget\FormPro();  ?>
      <a href="?t=1" class="layui-btn">自定义参数</a>
      <a href="?t=2" class="layui-btn">导入参数</a>
      <a href="?t=3" class="layui-btn">当前参数</a>
      <?php if($t==1){ ?>
        <form method="post" class="info_tj" >
          <div class="layui-col-sm12">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-sm12">
                  <div class="layui-card" style="padding-left: 10px;">
                    <div class="layui-card-header">自定义参数</div>
                    <br/>
                    <h1>左边栏目</h1>
                    <?php foreach($list['left'] as $k=>$vo){ ?>
                      <div class="layui-row">
                        <div class="layui-col-sm1">
                          <input name="name[]" type="hidden" value="{$vo['name']}" />
                          <span class="{$vo['checked']==0?'line-through':''}" >{$vo['name']}<br>({$vo['type']})</span>
                        </div>
                        <div class="layui-col-sm2">
                          <input name="comment[]" value="{$vo['comment']|default=''}" placeholder="标题" />
                        </div>
                        
                        <div class="layui-col-sm1">
                          <input name="sort[]" value="{$vo['sort']|default=''}" placeholder="排序" style="width: 40px;" />
                        </div>
                        <div class="layui-col-sm3">
                          <select name="model[]">
                            <?php foreach(formProActionArrCate() as $k1=>$vo1){ ?>
                              <option value="{$vo1['id']}" <?php if($vo['model']==$vo1['id']){ ?>selected<?php } ?>>{$vo1['name']}</option>
                            <?php } ?>
                          </select>
                      
                          <select name="checked[]">
                            <?php foreach([['id'=>'1','name'=>'显示'],['id'=>'0','name'=>'隐藏']] as $k1=>$vo1){ ?>
                              <option value="{$vo1['id']}" <?php if($vo['checked']==$vo1['id']){ ?>selected<?php } ?>>{$vo1['name']}</option>
                            <?php } ?>
                          </select>
                          
                  
                          <select name="postion[]">
                            <?php foreach([['id'=>'left','name'=>'左边'],['id'=>'right','name'=>'右边']] as $k1=>$vo1){ ?>
                              <option value="{$vo1['id']}" <?php if($vo['postion']==$vo1['id']){ ?>selected<?php } ?>>{$vo1['name']}</option>
                            <?php } ?>
                          </select>
                        
                          <select name="theme[]">
                            <?php foreach([['id'=>'1','name'=>'模板1'],['id'=>'2','name'=>'模板2'],['id'=>'3','name'=>'模板3'],['id'=>'4','name'=>'模板4'],['id'=>'5','name'=>'模板5'],['id'=>'6','name'=>'模板6'],['id'=>'7','name'=>'模板7']] as $k1=>$vo1){ ?>
                              <option value="{$vo1['id']}" <?php if($vo['theme']==$vo1['id']){ ?>selected<?php } ?>>{$vo1['name']}</option>
                            <?php } ?>
                          </select>
                        </div>
                        <div class="layui-col-sm2">
                          <!-- <input name="append[]" value="{$vo['append']|default=''}" /> -->
                          <textarea name="append[]" placeholder="内容">{$vo['append']|default=''}</textarea>
                        </div>
                        <div class="layui-col-sm2">
                          <!-- <input name="append[]" value="{$vo['append']|default=''}" /> -->
                          <textarea name="notes[]" placeholder="页面备注内容">{$vo['notes']|default=''}</textarea>
                        </div>
                      </div>

                      <br>
                    <?php } ?>
                    
                    <h1>右边栏目</h1>
                    <?php if(isset($list['right'][0]['name'])){  foreach($list['right'] as $k=>$vo){ ?>
                      <div class="layui-row">
                        <div class="layui-col-sm1">
                          <input name="name[]" type="hidden" value="{$vo['name']}" />
                          <span class="{$vo['checked']==0?'line-through':''}" >{$vo['name']}<br>({$vo['type']})</span>
                        </div>
                        <div class="layui-col-sm2">
                          <input name="comment[]" value="{$vo['comment']|default=''}" placeholder="标题" />
                        </div>
                        
                        <div class="layui-col-sm1">
                          <input name="sort[]" value="{$vo['sort']|default=''}" placeholder="排序" style="width: 40px;" />
                        </div>
                        <div class="layui-col-sm3">
                          <select name="model[]">
                            <?php foreach(formProActionArrCate() as $k1=>$vo1){ ?>
                              <option value="{$vo1['id']}" <?php if($vo['model']==$vo1['id']){ ?>selected<?php } ?>>{$vo1['name']}</option>
                            <?php } ?>
                          </select>
                      
                          <select name="checked[]">
                            <?php foreach([['id'=>'1','name'=>'显示'],['id'=>'0','name'=>'隐藏']] as $k1=>$vo1){ ?>
                              <option value="{$vo1['id']}" <?php if($vo['checked']==$vo1['id']){ ?>selected<?php } ?>>{$vo1['name']}</option>
                            <?php } ?>
                          </select>
                  
                          <select name="postion[]">
                            <?php foreach([['id'=>'left','name'=>'左边'],['id'=>'right','name'=>'右边']] as $k1=>$vo1){ ?>
                              <option value="{$vo1['id']}" <?php if($vo['postion']==$vo1['id']){ ?>selected<?php } ?>>{$vo1['name']}</option>
                            <?php } ?>
                          </select>
                        
                          <select name="theme[]">
                            <?php foreach([['id'=>'1','name'=>'模板1'],['id'=>'2','name'=>'模板2'],['id'=>'3','name'=>'模板3'],['id'=>'4','name'=>'模板4'],['id'=>'5','name'=>'模板5'],['id'=>'6','name'=>'模板6'],['id'=>'7','name'=>'模板7']] as $k1=>$vo1){ ?>
                              <option value="{$vo1['id']}" <?php if($vo['theme']==$vo1['id']){ ?>selected<?php } ?>>{$vo1['name']}</option>
                            <?php } ?>
                          </select>
                        </div>
                        <div class="layui-col-sm2">
                          <!-- <input name="append[]" value="{$vo['append']|default=''}" /> -->
                          <textarea name="append[]" placeholder="内容">{$vo['append']|default=''}</textarea>
                        </div>
                        <div class="layui-col-sm2">
                          <!-- <input name="append[]" value="{$vo['append']|default=''}" /> -->
                          <textarea name="notes[]" placeholder="页面备注内容">{$vo['notes']|default=''}</textarea>
                        </div>
                      </div>

                      <br>
                    <?php }} ?>
                    
                  

                  
                  <br>
                  </div>
                  
                  <br><br><br><br><br><br>
                  <br><br><br><br><br><br>
                </div>
                  
                {include file="public/widget_submit"}
            </div>
          </div>
        </form>
      <?php }elseif($t==2){ ?>
        <form method="post" class="info_tj" >
          <div class="layui-col-sm12">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-sm12">
                  <div class="layui-card">
                    <style>
                      .layui-textarea{
                        height: 400px;
                      }
                    </style>
                    {$form_widget->form_textarea(['title'=>'导入参数','name'=>'form_parm','data'=>'','theme'=>1])|raw}
                  <br>
                  </div>
                  
                </div>
                  
                {include file="public/widget_submit"}
            </div>
          </div>
        </form>
      <?php }elseif($t==3){ ?>
          <div class="layui-col-sm12">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-sm12">
                  <div class="layui-card">
                    <style>
                      .layui-textarea{
                        height: 500px;
                      }
                    </style>
                    {$form_widget->form_textarea(['title'=>'当前参数','name'=>'form_parm','data'=>$form_parm, 'readonly'=>1,'theme'=>1])|raw}
                  <br>
                  </div>
                  
                </div>
                  
            </div>
          </div>
      <?php } ?>
        
      </div>
    </div>
  </div>
  


  <script>

 layui.use(['form','upload'], function(){
    var $ = layui.$
    ,admin = layui.admin
    ,element = layui.element
    ,form = layui.form
    ,upload = layui.upload;


      $('.tijiao').on("click",function(){
          // var index = layer.load(2);
          var data = $(".info_tj input,.info_tj select,.info_tj textarea,.info_tj radio").serialize();      
          $.ajax({
              type:'post',
              data:data,
              dataType:'json',
              success:function(res){
                if(res.result==1){
                  layer.msg(res.msg, {icon: 1});
                  setTimeout(function() {
                      if(res.msg.code==1){
                        window.location.reload();
                      }else{
                        window.parent.location.reload();
                      }
                  }, 2000);
                }else{
                  // layer.close(index);
                  layer.msg(res.msg, {icon: 2});
                }   
              }
          })
      })

      //当select checked[]的值发生改变时，触发事件
      $('.info_tj').on('change','select[name="checked[]"]',function(){
        var val = $(this).val();
        console.log(val)
        if(val==0){
          $(this).parent().parent().find('span').addClass('line-through');
        }else{
          $(this).parent().parent().find('span').removeClass('line-through');
        }
      })

      


  });
  </script>
</body>
</html>

