<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>管理系统</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  {:widget_st('layui','css')}
  {:widget_st('admin','css')}
  {:widget_st('jq','js')}
  {:widget_st('laydate','js')}    
  {:widget_st('layui','js')}  
  {:widget_st('common','js')} 
  <!-- tag -->
    {:widget_st('input-tag')} 
  <!-- ueditor -->
  {:widget_st('ueditor')} 
  <!-- selectInput -->
  {:widget_st('input-select')} 



</head>
<style>
  .line-through {
    text-decoration: line-through;
    color: red;
  }
  .layui-col-sm2{
    text-align: center;
  }
</style>
<body>
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <?php $form_widget = new \app\common\widget\FormPro();  ?>
        <div class="layui-col-sm12">
          <div class="layui-card">
            <div class="layui-card-header">列表</div>
            $form_widget = new \app\common\widget\FormPro();
            <?php foreach($list as $k=>$vo){ ?>  
                <blockquote class="layui-elem-quote"> {$k} {$vo}</blockquote>
                <?php if($vo=='form_input'){ ?>
                  <div class="layui-collapse">
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 1</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->form_input(['title'=>'名称','name'=>'name','data'=>'','theme'=>1])|raw</legend>
                          <div class="layui-field-box">
                            {$form_widget->form_input(['title'=>'名称','name'=>'name','data'=>'','theme'=>1])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 2</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->form_input(['title'=>'名称','name'=>'name','data'=>'','theme'=>2])|raw</legend>
                          <div class="layui-field-box">
                            {$form_widget->form_input(['title'=>'名称','name'=>'name','data'=>'','theme'=>2])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>

                  </div>
                <?php }elseif($vo=='form_input_tag'){ ?>
                  需要文件 :<br>
                  link rel="stylesheet" href="__STATIC__/style/input-tag/inputTag.css" media="all">
                  <div class="layui-collapse">
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 1</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->form_input_tag(['title'=>'名称','name'=>'name','data'=>'','theme'=>1])|raw</legend>
                          <div class="layui-field-box">
                            {$form_widget->form_input_tag(['title'=>'名称','name'=>'name','data'=>'','theme'=>1])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 2</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->form_input_tag(['title'=>'名称','name'=>'name','data'=>'','theme'=>2])|raw</legend>
                          <div class="layui-field-box">
                            {$form_widget->form_input_tag(['title'=>'名称','name'=>'name','data'=>'','theme'=>2])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>

                  </div>
                <?php }elseif($vo=='form_textarea'){ ?>
                  <div class="layui-collapse">
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 1</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->form_textarea(['title'=>'名称','name'=>'name','data'=>'','theme'=>1])|raw</legend>
                          <div class="layui-field-box">
                            {$form_widget->form_textarea(['title'=>'名称','name'=>'name','data'=>'','theme'=>1])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 2</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->form_textarea(['title'=>'名称','name'=>'name','data'=>'','theme'=>2])|raw</legend>
                          <div class="layui-field-box">
                            {$form_widget->form_textarea(['title'=>'名称','name'=>'name','data'=>'','theme'=>2])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>
                  </div>
                <?php }elseif($vo=='form_note'){ ?>
                  <div class="layui-collapse">
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 1</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->form_note(['title'=>'名称','name'=>'name','data'=>'这里是内容','theme'=>1])|raw</legend>
                          <div class="layui-field-box">
                            {$form_widget->form_note(['title'=>'名称','name'=>'name','data'=>'这里是内容','theme'=>1])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 2</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->form_note(['title'=>'名称','name'=>'name','data'=>'这里是内容','theme'=>2])|raw</legend>
                          <div class="layui-field-box">
                            {$form_widget->form_note(['title'=>'名称','name'=>'name','data'=>'这里是内容','theme'=>2])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 2</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->form_note(['title'=>'名称','name'=>'name','data'=>'这里是内容','theme'=>3])|raw</legend>
                          <div class="layui-field-box">
                            {$form_widget->form_note(['title'=>'名称','name'=>'name','data'=>'这里是内容','theme'=>3])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>

                  </div>
                <?php }elseif($vo=='upload_album'){ ?>
                  <div class="layui-collapse">
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 1</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->upload_album(['title'=>'图集','name'=>'album[]','data'=>'','theme'=>1])|raw</legend>
                          <div class="layui-field-box">
                            {$form_widget->upload_album(['title'=>'图集','name'=>'album[]','data'=>'','theme'=>1])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>

                  </div>
                <?php }elseif($vo=='filesystem_album'){ ?>
                  <div class="layui-collapse">
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 1</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->filesystem_album(['title'=>'图集','name'=>'album[]','data'=>'','theme'=>1])|raw</legend>
                          <div class="layui-field-box">
                            {$form_widget->filesystem_album(['title'=>'图集','name'=>'album[]','data'=>'','theme'=>1])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>

                  </div>
                  

                <?php }elseif($vo=='upload_album_title'){ ?>
                  <div class="layui-collapse">
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 1</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->upload_album_title(['title'=>'图集_标题','name'=>'album[]','data'=>'','theme'=>1])|raw</legend>
                          <div class="layui-field-box">
                            {$form_widget->upload_album_title(['title'=>'图集_标题','name'=>'album[]','data'=>'','theme'=>1])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>

                  </div>
                <?php }elseif($vo=='form_time'){ ?>
                  <div class="layui-collapse">
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 1</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->form_time(['title'=>'时间','name'=>'ctime','data'=>date("Y-m-d H:i:s",time()),'time_type'=>'datetime','theme'=>1])|raw</legend>
                          <div class="layui-field-box">
                            {$form_widget->form_time(['title'=>'时间','name'=>'ctime','data'=>date("Y-m-d H:i:s",time()),'time_type'=>'datetime','theme'=>1])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 2</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->form_time(['title'=>'时间','name'=>'ctime','data'=>date("Y-m-d H:i:s",time()),'time_type'=>'datetime','theme'=>2])|raw</legend>
                          <div class="layui-field-box">
                            {$form_widget->form_time(['title'=>'时间','name'=>'ctime','data'=>date("Y-m-d H:i:s",time()),'time_type'=>'datetime','theme'=>2])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>

                  </div>
                <?php }elseif($vo=='upload_pic'){ ?>
                  <div class="layui-collapse">
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 1</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->upload_pic(['title'=>'上传','name'=>'pic','data'=>'','theme'=>1])|raw</legend>
                          <div class="layui-field-box">
                            {$form_widget->upload_pic(['title'=>'上传','name'=>'pic','data'=>'','theme'=>1])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 1</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->upload_pic(['title'=>'上传','name'=>'pic','data'=>'','theme'=>2])|raw</legend>
                          <div class="layui-field-box">
                            {$form_widget->upload_pic(['title'=>'上传','name'=>'pic','data'=>'','theme'=>2])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 1</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->upload_pic(['title'=>'上传','name'=>'pic','data'=>'','theme'=>3])|raw</legend>
                          <div class="layui-field-box">
                            {$form_widget->upload_pic(['title'=>'上传','name'=>'pic','data'=>'','theme'=>3])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>
                  </div>
                <?php }elseif($vo=='upload_dragpic'){ ?>
                  <div class="layui-collapse">
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 1</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->upload_dragpic(['title'=>'上传','name'=>'pic','data'=>'','theme'=>1])|raw</legend>
                          <div class="layui-field-box">
                            {$form_widget->upload_dragpic(['title'=>'上传','name'=>'pic','data'=>'','theme'=>1])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 1</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->upload_dragpic(['title'=>'上传','name'=>'pic','data'=>'','theme'=>2])|raw</legend>
                          <div class="layui-field-box">
                            {$form_widget->upload_dragpic(['title'=>'上传','name'=>'pic','data'=>'','theme'=>2])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 1</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->upload_dragpic(['title'=>'上传','name'=>'pic','data'=>'','theme'=>3])|raw</legend>
                          <div class="layui-field-box">
                            {$form_widget->upload_dragpic(['title'=>'上传','name'=>'pic','data'=>'','theme'=>3])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 1</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->upload_dragpic(['title'=>'上传','name'=>'pic','data'=>'','theme'=>4])|raw</legend>
                          <div class="layui-field-box">
                            {$form_widget->upload_dragpic(['title'=>'上传','name'=>'pic','data'=>'','theme'=>4])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>
                  </div>
                <?php }elseif($vo=='filesystem_pic'){ ?>
                  <div class="layui-collapse">
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 1</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->filesystem_pic(['title'=>'上传','name'=>'pic','data'=>'','theme'=>1])|raw</legend>
                          <div class="layui-field-box">
                            {$form_widget->filesystem_pic(['title'=>'上传','name'=>'pic','data'=>'','theme'=>1])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 1</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->filesystem_pic(['title'=>'上传','name'=>'pic','data'=>'','theme'=>2])|raw</legend>
                          <div class="layui-field-box">
                            {$form_widget->filesystem_pic(['title'=>'上传','name'=>'pic','data'=>'','theme'=>2])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 1</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->filesystem_pic(['title'=>'上传','name'=>'pic','data'=>'','theme'=>3])|raw</legend>
                          <div class="layui-field-box">
                            {$form_widget->filesystem_pic(['title'=>'上传','name'=>'pic','data'=>'','theme'=>3])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 1</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->filesystem_pic(['title'=>'上传','name'=>'pic','data'=>'','theme'=>4])|raw</legend>
                          <div class="layui-field-box">
                            {$form_widget->filesystem_pic(['title'=>'上传','name'=>'pic','data'=>'','theme'=>4])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>
                  </div>
                <?php }elseif($vo=='upload_file'){ ?>
                  <div class="layui-collapse">
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 1</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->upload_file(['title'=>'上传文件','name'=>'pic','data'=>'','theme'=>1])|raw</legend>
                          <div class="layui-field-box">
                            {$form_widget->upload_file(['title'=>'上传文件','name'=>'pic','data'=>'','theme'=>1])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>

                  </div>

                <?php }elseif($vo=='filesystem_file'){ ?>
                  <div class="layui-collapse">
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 1</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->filesystem_file(['title'=>'文件','name'=>'file','data'=>'','theme'=>1])|raw</legend>
                          <div class="layui-field-box">
                            {$form_widget->filesystem_file(['title'=>'文件','name'=>'file','data'=>'','theme'=>1])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>

                  </div>
                  

                <?php }elseif($vo=='form_radio'){ ?>
                  <div class="layui-collapse">
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 1</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->form_radio(['title'=>'状态','name'=>'status','data'=>1,'theme'=>1])|raw</legend>
                          <div class="layui-field-box">
                            {$form_widget->form_radio(['title'=>'状态','name'=>'status','data'=>1,'theme'=>1])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 1</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->form_radio(['title'=>'状态','name'=>'status','data'=>1,'theme'=>2])|raw</legend>
                          <div class="layui-field-box">
                            {$form_widget->form_radio(['title'=>'状态','name'=>'status','data'=>1,'theme'=>2])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 1</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->form_radio(['title'=>'状态','name'=>'status','data'=>1,'theme'=>3])|raw</legend>
                          <div class="layui-field-box">
                            {$form_widget->form_radio(['title'=>'状态','name'=>'status','data'=>1,'theme'=>3])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 1</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->form_radio(['title'=>'状态','name'=>'status','data'=>1,'theme'=>4])|raw</legend>
                          <div class="layui-field-box">
                            {$form_widget->form_radio(['title'=>'状态','name'=>'status','data'=>1,'theme'=>4])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 1</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->form_radio(['title'=>'状态','name'=>'status','data'=>1,'theme'=>5])|raw</legend>
                          <div class="layui-field-box">
                            {$form_widget->form_radio(['title'=>'状态','name'=>'status','data'=>1,'theme'=>5])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 1</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->form_radio(['title'=>'状态','name'=>'status','data'=>1,'theme'=>6])|raw</legend>
                          <div class="layui-field-box">
                            {$form_widget->form_radio(['title'=>'状态','name'=>'status','data'=>1,'theme'=>6])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>

                  </div>
                  
 
                <?php }elseif($vo=='layui_switch'){ ?>
                  <div class="layui-collapse">
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 1</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->layui_switch(['title'=>'名称','name'=>'name','data'=>'','theme'=>1])|raw</legend>
                          <div class="layui-field-box">
                            {$form_widget->layui_switch(['title'=>'名称','name'=>'name','data'=>'','theme'=>1])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 2</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->layui_switch(['title'=>'名称','name'=>'name','data'=>'','theme'=>2])|raw</legend>
                          <div class="layui-field-box">
                            {$form_widget->layui_switch(['title'=>'名称','name'=>'name','data'=>'','theme'=>2])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>
                  </div>
                <?php }elseif($vo=='form_checkbox'){ ?>
                  $key_list = array_keys($data);
                  $_temp_list = [];
                  foreach($key_list as $k=>$vo){
                      if(strpos($vo,'zf_list_') === 0){
                          $_temp_list[] = $vo;  
                      }
                  }
                  if($_temp_list){
                      foreach($_temp_list as $k=>$vo){
                          if(isset($data[$vo]) && is_array($data[$vo])){
                              $data[explode('zf_list_',$vo)[1]] = implode(",", $data[$vo]);
                              unset($data[$vo]);
                          }
                      }
                  }
                  unset($data['temp']);
                  $checkbox_key_arr = [
                      'consultation_mode' //自定义CheckBox字段
                  ];
                  foreach($checkbox_key_arr as $k=>$vo){
                      if(!isset($data[$vo])){
                          $data[$vo] = '';
                      }
                  }
                  <div class="layui-collapse">
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 1</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->form_checkbox(['title'=>'名称','name'=>'name','data'=>'','list_arr'=>[['id'=>'1','name'=>'参数1'],['id'=>2,'name'=>'参数2']],'theme'=>1])|raw</legend>
                          <div class="layui-field-box">
                            {$form_widget->form_checkbox(['title'=>'名称','name'=>'name','data'=>'','list_arr'=>[['id'=>'1','name'=>'参数1'],['id'=>2,'name'=>'参数2']],'theme'=>1])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 2</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->form_checkbox(['title'=>'名称','name'=>'name','data'=>'','list_arr'=>[['id'=>'1','name'=>'参数1'],['id'=>2,'name'=>'参数2']],'theme'=>2])|raw</legend>
                          <div class="layui-field-box">
                            {$form_widget->form_checkbox(['title'=>'名称','name'=>'name','data'=>'','list_arr'=>[['id'=>'1','name'=>'参数1'],['id'=>2,'name'=>'参数2']],'theme'=>2])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>
                  </div>
                <?php }elseif($vo=='form_select'){ ?>
                  $form_widget->form_select(['title'=>'分类','name'=>'cid','data'=>$cid,'list_arr'=>$plist,'id_t'=>'cid','theme'=>1])|raw}

                <?php }elseif($vo=='form_tinymce'){ ?>

                <?php }elseif($vo=='form_wangeditor'){ ?>

                <?php }elseif($vo=='form_vditor'){ ?>

                <?php }elseif($vo=='form_ueditor'){ ?>
                  script src="__STATIC__/style/ueditor/ueditor.config.js"></script>    <br>
                  script src="__STATIC__/style/ueditor/ueditor.all.js"></script>    <br>
                  link rel="stylesheet" href="__STATIC__/style/ueditor/themes/default/css/ueditor.css" media="all">      <br>
                                     
                  <div class="layui-collapse">
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 1</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->form_ueditor(['title'=>'内容详情','name'=>'content','data'=>'','theme'=>1])|raw} </legend>
                          <div class="layui-field-box">
                            {$form_widget->form_ueditor(['title'=>'内容详情','name'=>'content','data'=>'','theme'=>1])|raw} 
                          </div>
                        </fieldset>
                      </div>
                    </div>

                  </div>
                <?php }elseif($vo=='form_input_color'){ ?>
                  
                  <div class="layui-collapse">
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 1</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->form_input_color(['title'=>'颜色','name'=>'ctime','data'=>'#ccc','theme'=>1])|raw</legend>
                          <div class="layui-field-box">
                            {$form_widget->form_input_color(['title'=>'颜色','name'=>'ctime','data'=>'#ccc','theme'=>1])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 2</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->form_input_color(['title'=>'颜色','name'=>'ctime','data'=>'#ccc','theme'=>2])|raw</legend>
                          <div class="layui-field-box">
                            {$form_widget->form_input_color(['title'=>'颜色','name'=>'ctime','data'=>'#ccc','theme'=>2])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>

                  </div>

                  

                <?php }elseif($vo=='form_input_select'){ ?>
                  script src="__STATIC__/style/input-select/selectInput.js"></script>    
                <br>
                1,2   返回的值是name
                3,4  返回的值是value   需要处理   _$name   直接覆盖$name即可   _data是value的值<br>
                如果$name=='',则为空   如果$name!='' && $_name!=''  则$name的值为$_name的值<br> 
                  <div class="layui-collapse">
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 1</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->form_input_select(['title'=>'input选择','name'=>'append','data'=>'A','list_arr'=> [['name'=>'AA','value'=>'1'],['name'=>'BB','value'=>'2'],['name'=>'A','value'=>'3'],['name'=>'CC','value'=>'4']],'url'=>'http://dev.zfcmsx2.90ckm.com/admin/setting/test_inputselect_json','theme'=>1])|raw</legend>
                          <div class="layui-field-box">
                              {$form_widget->form_input_select(['title'=>'input选择','name'=>'append','data'=>'A','list_arr'=> [['name'=>'AA','value'=>'1'],['name'=>'BB','value'=>'2'],['name'=>'A','value'=>'3'],['name'=>'CC','value'=>'4']],'url'=>'http://dev.zfcmsx2.90ckm.com/admin/setting/test_inputselect_json','theme'=>1])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 2</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->form_input_select(['title'=>'input选择','name'=>'append','data'=>'A','list_arr'=> [['name'=>'AA','value'=>'1'],['name'=>'BB','value'=>'2'],['name'=>'A','value'=>'3'],['name'=>'CC','value'=>'4']],'url'=>'http://dev.zfcmsx2.90ckm.com/admin/setting/test_inputselect_json','theme'=>2])|raw</legend>
                          <div class="layui-field-box">
                              {$form_widget->form_input_select(['title'=>'input选择','name'=>'append','data'=>'A','list_arr'=> [['name'=>'AA','value'=>'1'],['name'=>'BB','value'=>'2'],['name'=>'A','value'=>'3'],['name'=>'CC','value'=>'4']],'url'=>'http://dev.zfcmsx2.90ckm.com/admin/setting/test_inputselect_json','theme'=>2])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 3</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->form_input_select(['title'=>'input选择','name'=>'append','data'=>'A','_data'=>3,'list_arr'=> [['name'=>'AA','value'=>'1'],['name'=>'BB','value'=>'2'],['name'=>'A','value'=>'3'],['name'=>'CC','value'=>'4']],'url'=>'http://dev.zfcmsx2.90ckm.com/admin/setting/test_inputselect_json','theme'=>3])|raw</legend>
                          <div class="layui-field-box">
                            <form>
                              {$form_widget->form_input_select(['title'=>'input选择','name'=>'append','data'=>'A','_data'=>3,'list_arr'=> [['name'=>'AA','value'=>'1'],['name'=>'BB','value'=>'2'],['name'=>'A','value'=>'3'],['name'=>'CC','value'=>'4']],'url'=>'http://dev.zfcmsx2.90ckm.com/admin/setting/test_inputselect_json','theme'=>3])|raw}
                              <button>提交</button>
                            </form>
                          </div>
                        </fieldset>
                      </div>
                    </div>
                    <div class="layui-colla-item">
                      <div class="layui-colla-title">Collapse Title 4</div>
                      <div class="layui-colla-content">
                        <fieldset class="layui-elem-field">
                          <legend>$form_widget->form_input_select(['title'=>'input选择','name'=>'append','data'=>'A','_data'=>3,'list_arr'=> [['name'=>'AA','value'=>'1'],['name'=>'BB','value'=>'2'],['name'=>'A','value'=>'3'],['name'=>'CC','value'=>'4']],'url'=>'http://dev.zfcmsx2.90ckm.com/admin/setting/test_inputselect_json','theme'=>4])|raw</legend>
                          <div class="layui-field-box">
                              {$form_widget->form_input_select(['title'=>'input选择','name'=>'append','data'=>'A','_data'=>3,'list_arr'=> [['name'=>'AA','value'=>'1'],['name'=>'BB','value'=>'2'],['name'=>'A','value'=>'3'],['name'=>'CC','value'=>'4']],'url'=>'http://dev.zfcmsx2.90ckm.com/admin/setting/test_inputselect_json','theme'=>4])|raw}
                          </div>
                        </fieldset>
                      </div>
                    </div>

                  </div>



                <?php } ?>
               
              <br><br><br>
              <?php } ?>
          </div>
        </div>
      </div>
    </div>
  </div>
  


  <script>

 layui.use(['form','upload'], function(){
    var $ = layui.$
    ,admin = layui.admin
    ,element = layui.element
    ,form = layui.form
    ,upload = layui.upload;



  });
  </script>
</body>
</html>

