<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>管理系统</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="__STATIC__/style/layui/css/layui.css" media="all">
</head>
<body>
  <div class="layui-fluid">
      <div class="layui-row layui-col-space15">
        <div class="layui-col-md8">
          <div class="layui-card">
            <div class="layui-card-body">
              <form class="layui-form info_tj" onclick="return false;" >
                <?php $form_widget = new \app\common\widget\FormPro();  ?>
                <?php if(isset($res['id'])){ ?>
                  <input type="hidden" name="id" value="{$res.id}">
                  {$form_widget->form_input(['title'=>'标题','name'=>'title','data'=>$res['title'],'theme'=>2])|raw}
                  {$form_widget->form_input(['title'=>'留言人','name'=>'name','data'=>$res['name'],'theme'=>2])|raw}
                  {$form_widget->form_input(['title'=>'电话','name'=>'tel','data'=>$res['tel'],'theme'=>2])|raw}
                  {$form_widget->form_input(['title'=>'邮箱','name'=>'email','data'=>$res['email'],'theme'=>2])|raw}
                  {$form_widget->form_input(['title'=>'公司','name'=>'company','data'=>$res['company'],'theme'=>2])|raw}
                  {$form_widget->form_input(['title'=>'类型','name'=>'ctype','data'=>$res['ctype'],'theme'=>2])|raw}
                  {$form_widget->form_input(['title'=>'预算','name'=>'yusuan','data'=>$res['yusuan'],'theme'=>2])|raw}
                  {$form_widget->form_textarea(['title'=>'描述','name'=>'summary','data'=>$res['summary'],'theme'=>2])|raw}
                  {$form_widget->form_textarea(['title'=>'内容','name'=>'content','data'=>$res['content'],'theme'=>2])|raw}
                  {$form_widget->form_radio(['title'=>'状态','name'=>'status','data'=>$res['status'],'parm_data'=>['0'=>'关闭','1'=>'开启'],'theme'=>2])|raw}
                  <div class="layui-form-item">
                    <div class="layui-input-block">
                      <button class="layui-btn layui-btn-sm" onclick="tijiao_data('rests/guessbook_edit')" lay-submit="" lay-filter="component-form-element">提交</button>
                    </div>
                  </div>
                <?php }else{ ?>
                  {$form_widget->form_input(['title'=>'标题','name'=>'title','data'=>'','theme'=>2])|raw}
                  {$form_widget->form_input(['title'=>'留言人','name'=>'name','data'=>'','theme'=>2])|raw}
                  {$form_widget->form_textarea(['title'=>'描述','name'=>'summary','data'=>'','theme'=>2])|raw}
                  {$form_widget->form_radio(['title'=>'状态','name'=>'status','data'=>'0','parm_data'=>['0'=>'关闭','1'=>'开启'],'theme'=>2])|raw}
                  
                  
                  <div class="layui-form-item">
                    <div class="layui-input-block">
                      <button class="layui-btn layui-btn-sm" onclick="tijiao_data('rests/guessbook_add')" lay-submit="" lay-filter="component-form-element">提交</button>
                    </div>
                  </div>
                <?php } ?>

                
              </form>
            </div>
          </div>
        
          
          
        </div>
        
      </div>
    </div>

  <script src="__STATIC__/style/layui/layui.js"></script>    
  <script type="text/javascript" src="__STATIC__/system/common.js"></script>  

  <script>
 layui.use(['form', 'upload'], function(){
    var $ = layui.$
    ,form = layui.form
    ,upload = layui.upload ;
    
    
  })
  </script>
</body>
</html>