<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>管理系统</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  {:widget_st('layui','css')}
  {:widget_st('admin','css')}
  {:widget_st('bootstrap')}
  {:widget_st('jq','js')}
</head>
<body>
  <div class="layui-fluid">
    <div class="layui-card">
      <form method="get">
              <div class="layui-inline">
                <label class="layui-form-label">关键词</label>
                <div class="layui-input-block">
                  <input type="text" name="key" placeholder="请输入" autocomplete="off" class="layui-input" value="{:input('key','')}">
                </div>
              </div>
              <div class="layui-inline">
                  <button class="layui-btn" ><i class="layui-icon layui-icon-search layuiadmin-button-btn"></i></button>
              </div>
            </form>
      <div class="layui-card-header layuiadmin-card-header-auto">
        <button class="layui-btn layui-btn-sm " onclick="zfAdminShow('添加','{:url("admin/user/add")}',800)">添加</button>
        <a class="layui-btn layui-btn-sm layui-btn-normal" href="{:url('admin/user/index')}">全部</a>
        <?php foreach($glist as $k=>$vo){ ?>
          <a class="layui-btn layui-btn-sm layui-btn-normal" href="{:url('admin/user/index',['gid'=>$vo['id']])}">{$vo['name']}</a>  
        <?php } ?>
      </div>
      
      <table class="layui-table">
        <colgroup>
          <col width="30">
          
          <col>
        </colgroup>
        <thead>
          <tr>
            <th>ID</th>
            <th>昵称</th>
            <th>头像</th>
            <th>分组</th>
            <th>性别</th>
            <th>邮箱</th>
            <th>ip</th>
            <th>加入时间</th>
            <th>状态</th>
            <th>操作</th>
          </tr> 
        </thead>
        <tbody>
          <?php foreach($list as $k=>$vo){ ?>
            <tr>
              <td>{$vo['id']}</td>
              <td>{$vo['name']}</td>
              <td><img src="{$vo['pic']}" style="max-width: 50px;max-height: 50px;"></td>
              <td>{:user_group_name($vo['gid'])}</td>
              <td>
                {$vo['sex']==1?'男':''}
                {$vo['sex']=='0'?'女':''}
              </td>
              <td>{$vo['email']}</td>
              <td>{$vo['ip']}</td>
              <td><?php echo date("Y-m-d H:i:s",$vo['ctime']); ?></td>
              <td>
                <div class=" layui-form" lay-filter="component-form-element">        
                   <input type="checkbox" name="status" <?php echo $vo['status']==1?'checked':''; ?> lay-skin="switch" lay-text="开启|关闭" lay-filter="status_change" item="{$vo['id']}">
                </div>
              </td>
              <td> 
                <a class="layui-btn layui-btn-sm layui-btn-danger" onclick="btn_del('common/del_post',{$vo['id']},'user')" href="#">删除</a> 
                <button class="layui-btn layui-btn-sm" onclick='zfAdminShow("编辑","{:url('admin/user/edit',['id' => $vo['id']] )}",800)'>编辑</button></td>
            </tr>
          <?php } ?>
        </tbody>
      </table>
      {$page|raw}
    </div>
  </div>
  {:widget_st('layui','js')}
  {:widget_st('common','js')} 
  <script>
 layui.use(['table'], function(){
      var $ = layui.$
      ,form = layui.form
      ,table = layui.table;

      form.on('switch(status_change)', function(data){
          var id = $(this).attr("item")
          var dbname = 'user'
          var status = this.checked ? '1' : '0'
          console.log(id)
          $.get("{:url('admin/common/is_switch')}",{id:id,dbname:dbname,status:status},function(res){
              if(res.result==1){
              layer.msg(res.msg, {icon: 1});
            }else{
              layer.msg(res.msg, {icon: 2});
            }
          },"json");
      });

  });
  </script>
</body>
</html>
