<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>管理系统</title>
    {:widget_st('tailwind','css')}
    <style>
        .dlbox .weixin, .dlbox .weibo {
        display: inline-block;
        width: 32px;
        height: 32px;
        background-size: cover;
        }


        .bg-indigo-100 {
        background-color: #fff;
        }.border-gray-200 {
        border-color: #edf2f7;
        }.bg-gray-100 {
        background-color: #f7fafc;
        }.bg-indigo-500 {
        background-color: #667eea;
        }
    </style>
</head>
{:do_action('admin_head')}

<body class="min-h-screen bg-gray-100 text-gray-900 flex justify-center dlbox">
    <div class="max-w-screen-xl m-0 sm:m-20 bg-white shadow sm:rounded-lg flex justify-center flex-1">
        <div class="lg:w-1/2 xl:w-5/12 p-6 sm:p-12">
            <div class="mt-12 flex flex-col items-center">
                <h1 class="text-2xl xl:text-3xl font-extrabold">管理登录</h1>
                <div class="w-full flex-1 mt-8">
                   {$web_config['login_html_notice']|raw|default=''}
                    <div class="mx-auto max-w-xs">
                        <form class="info_tj" onclick="return false;">
                            {:do_action('admin_login_before_view')}
                            <button class="mt-5 tracking-wide font-semibold bg-indigo-500 text-gray-100 w-full py-4 rounded-lg hover:bg-indigo-700 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none tijiao">
                                <span class="ml-3 ">登 录</span>
                            </button>
                        </form>
                        <div style="margin: 10px 0;"  class="text-xs text-gray-600">
                            <span>其他方式登录:</span>
                            {:do_action('admin_login_oauth_view')}
                          </div>
                        <p class="mt-6 text-xs text-gray-600 text-center">
                            Copyright © {:date("Y",time())} <a href="http://www.zf-sys.com" target="_blank">子枫工作室</a>. All right reserved
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-1 bg-indigo-100 text-center hidden lg:flex">
            <div class="m-12 xl:m-16 w-full bg-contain bg-center bg-no-repeat" style="background-image: url('{$right_img|default=''}');"></div>
        </div>
    </div>
</body>
</html>
{:do_action('admin_js')}
{:widget_st('jq','js')}

  {:widget_st('layer','js')}
<script>
   $('.tijiao').on('click',function(){
      var data = $(".info_tj input,.info_tj textarea,.info_tj select").serialize();   
     //异步获取信息
      var url = "{:url('login/login')}";
      $.ajax({
        url:url,
        data:data,
        dataType:'json',
        type:"POST",
        success:function(res){
          if(res.result==1){
            layer.msg('登入成功', {
              offset: '15px'
              ,icon: 1
              ,time: 1000
            }, function(){
              location.href = res.msg; //后台主页
            });
          }else{
            layer.msg(res.msg,{icon:2})

          }
          
        }
      })
    })
</script>
